
body,button, input{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #121215;
    color: #eaeaea
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
}
header {
    justify-content: space-between;
    align-items: center;
    height: 150px;
    display: flex;
}
.container header h1 {
    background: linear-gradient(90deg, #b44afa 0%, #f8adff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px;
    margin-top:25px;
}
header form {
    max-width: 400px;
}
#orientacao{
    color: #b44afa;
    font-size: 18px;
}
#box-search{
    display: flex;
    
}
#barr {
    padding: 16px;
    font-size: 16px;
    width: 70%;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
    border-right-width: 0;
    transition: border-color 200ms;
}
#barr:hover {
    border-color: #b44afa;
}
#search{
    width: 60px;
    background: #b44afa;
    border-radius: 0 4px 4px 0;
    transition: filter 0.2s;
    cursor: pointer;
}
#search:hover{
    filter:brightness(80%);
}
#icon{
    width: 40px;
}
.container main {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 182px);
}
main h2 {
    background-image: linear-gradient(90deg, #b44afa 0%, #f8adff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
main ul{
    list-style: none;
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
main ul li {
    background-color: #2f2f32;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    transition: all 0.2s;
}
main ul li:hover {
    transform: translateY(-10px) scale(120%);
    border-color: #f867ec;
}
main ul li:hover {
   color: #f867ec;
}

.swal2-popup{
    background-color: #2f2f32;
    color: rgb(245, 239, 239);
    border-radius: 20px;
}
.swal2-icon.swal2-error{
    border-color: #f867ec;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"]{
    background-color: #f867ec;
}

.swal2-styled.swal2-confirm{
    color: #000000;
    background-color: #f867ec;
}